input[type=file]{
    display: none;
}
.content{
    display: flex;
    padding-top: 90px;
    justify-content: center;
}
.fileLabel{
    text-align: center;
    display: block;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: black;
    border-radius: 10px;
    padding: 20px 0;
    width: 600px;
    height: 200px !important;
}
.icons{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 60px !important;
    color: rgb(61, 61, 214);

}
.labeler{
    display: block;
    text-align: center;
    font-weight: 600;
}
#fileName{
    font-weight: 700;
    display: block;
    margin-top: 20px;
    color: rgb(61, 61, 214);
}
.sousbutton{
    display: flex;
    margin-top: 15px;
}
.Format_Button{
    margin-top: 10px;
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 40px;
    background-color: rgb(215, 215, 215);
    font-weight: 700;
    cursor: pointer;
    margin-right: 10px;
}



